<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :housenumber %><br>
    <%= f.text_field :housenumber %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :membership_type %><br>
    <%= f.text_field :membership_type %>
  </div>
  <div class="field">
    <%= f.label :membership_function %><br>
    <%= f.text_field :membership_function %>
  </div>
  <div class="field">
    <%= f.label :membershipin_date %><br>
    <%= f.date_select :membershipin_date %>
  </div>
  <div class="field">
    <%= f.label :membershipout %><br>
    <%= f.date_select :membershipout %>
  </div>
  <div class="field">
    <%= f.label :membership_status %><br>
    <%= f.text_field :membership_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
